fastapi==0.95.2
uvicorn==0.23.2
sqlalchemy==1.4.46
psycopg2-binary==2.9.10
pydantic==2.11.1
python-jose[cryptography]==3.3.0
bcrypt==4.3.0
python-dotenv==1.1.0
transformers==4.50.3
rapidfuzz==3.12.2
scikit-learn==1.6.1
pandas==2.2.3
pytz==2025.2
torch==2.6.0
